config samba
	option 'name'           'RouterOS'
	option 'workgroup'      'WORKGROUP'
	option 'description'    'SMB'
	option 'homes'          '0'
	option 'autoshare'      '0'

config sambashare
	option 'browseable'     'yes'
	option 'name'           'sda3'
	option 'path'           '/mnt/sda3'
	option 'read_only'      'no'
	option 'guest_ok'       'yes'
	option 'create_mask'    '0777'
	option 'dir_mask'       '0777'
